{% extends "base.html" %}
{% load static %}

{% block page_header %}
<section class="section">
  <div class="container header-container">
  </div>
</section>
{% endblock %}

{% block content %}
<section class="section">
  <div class="container is-fullheight">
    <div class="colums is-fullheight">
      <div class="column is-6 is-offset-6 is-7-medium is-offset-7-medium is-8-mobile is-offset-4-mobile">
        <h1 class="title is-2 has-text-info logo-font has-text-right">The new <br />collections <br />are here</h1>
      </div>
      <div class="is-pulled-right">
        <h4>
          <a href="" class="button shop-now-button is-right is-black is-large is-uppercase has-text-white py-3">Shop now</a>
        </h4>
      </div>
    </div>
  </div>
</section>

{% endblock %}
