{% extends "base.html" %}
{% load static %}

{% block page_header %}
<section class="section">
  <div class="container header-container">
  </div>
</section>
{% endblock %}

{% block content %}
<section class="section">
  <div class="container is-fullheight">
    <div class="colums is-fullheight">
      <div class="column is-7 is-6-medium">
        <h1 class="title is-4 has-text-info logo-font">The new collections are there</h1>
      </div>
      <div>
        <h4>
          <a href="" class="button is-black is-large is-uppercase has-text-white py-3">Shop now</a>
          <button class="button is-black is-large is-uppercase has-text-white py-3">Shop now</button>
        </h4>
      </div>
    </div>
  </div>
</section>

{% endblock %}
