{% load static %}

<!doctype html>
<html lang="en">

<head>
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <!-- From Bootstrap starter template -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
  <!-- From Bulma starter template -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> -->
  <script src="https://kit.fontawesome.com/e576f39845.js" crossorigin="anonymous"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Boutique Ado {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <header class="container is-fluid is-fixed-top">
    <div class="columns">
      <div class="column py-1 py-0-desktop has-text-centered has-text-left-desktop">
        <a href="{% url 'home' %}" class="navbar-link main-logo-link">
          <h2 class="logo-font has-text-black my-0"><strong>Boutique</strong> Ado</h2>
        </a>
      </div>
      <div class="column py-1 py-0-desktop">
        <form method="GET" action="">
          <div class="field is-fullwidth has-addons">
            <div class="control">
              <input class="input" type="text" name="q" placeholder="Search our site">
            </div>
            <div class="control">
              <!-- <button class="button is-dark">Dark</button> -->
              <a class="button is-dark">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
              </a>
            </div>
          </div>
        </form>
      </div>
      <div class="column py-1 py-0-desktop">
        <div class="content">
          <ul class="is-inline has-text-centered has-text-right-desktop my-0">
            <li class="is-inline dropdown">
              <div class="dropdown-trigger">
                <a class="has-text-black navbar-link" href="#" id="user-options" aria-haspopup="true" aria-expanded="false" aria-controls="dropdown-user-options">
                  <div class="text-center">
                    <div><i class="fas fa-user fa-lg"></i></div>
                    <p class="my-0">My Account</p>
                  </div>
                </a>
              </div>
              <div class="dropdown-menu" id="dropdown-user-options" role="menu">
                <!-- aria-labelledby="user-options" -->
                <div class="dropdown-content">
                  {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                  <a href="#" class="dropdown-item">Product Management</a>
                  {% endif %}
                  <a href="#" class="dropdown-item">My Profile</a>
                  <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                  {% else %}
                  <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                  <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                  {% endif %}
                </div>
              </div>
            </li>
            <li class="is-inline">
              <a class="{% if grand_total %}has-text-primary has-text-weight-bold{% else %}has-text-black{% endif %} navbar-link" href="">
                <div class="has-text-centered">
                  <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                  <p class="my-0">
                    {% if grand_total %}
                    ${{ grand_total|floatformat:2 }}
                    {% else %}
                    $0.00
                    {% endif %}
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  {% if messages %}
  <div class="message-container"></div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block postloadjs %}
  {% endblock %}

</body>

</html>
